.logo {
    width: 28vh;


}

.pointer{
    cursor: pointer;
    
}


.si{
    margin-top: 35px;
}

.hr{
    opacity: 0.1;
}

.bdy{
    /* border: 2px solid #e50914; */
   width:1080px;
   /* height: 510px; */
}

.footer{
    margin-top: 200px;
    width: 100%;
    height: 280px;
    background-color:#f3f3f3;

}
.ff{
    font-size: 20px;
}
a{
    cursor: pointer;
}
.greytx{
    color: #6b6d6d;
}


.ipf{
    position: relative;
}

.ipf label{
   position: absolute;
   top: 25px;
   font-size: 20px;
   left: 15px;
   color: rgb(61, 61, 61);
   transition: all 0.3s ease;
}

.ipf input:focus ~ label,.ipf input:valid ~ label{

    font-size: 13px;
    top: 0;
    background-color: white;
    padding: 0px 5px;

}

.ipf input{
    width: 100%;
    height: 60px;
    border: 1px solid #333;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 15px;

}

#pass{
    padding-right: 45px;
}

#eye{
    position: absolute;
    top: 15px;
    left: 460px;
    font-size: 22px;
    /* background-color: rgb(105, 105, 105); */
    padding: 9px 9px 9px 9px ;
}

.cm{
    position: absolute;
    top: 30px;
}

.me{
    margin-left: 55px;
}

.mt0{
    margin-top: -10px;
}

#ico{
   
    color: rgb(246, 110, 110);

}

#ico1{
  
    color: rgb(246, 110, 110);



}

#ico2{
  
    color: rgb(246, 110, 110);



}

#ico3{
  
    color: rgb(246, 110, 110);



}

.bt{
    font-weight: 600;
    font-size: 18px;
   
}

.it1,.it2,.it3,.it4{
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.ir{
    position: relative;
}

.it1{
    position: absolute;
    top: 80px;
    left: 60px;
}.it2{
    position: absolute;
    top: 80px;
    left: 67px;
}.it3{
    position: absolute;
    top: 80px;
    left: 50px;
}.it4{
    position: absolute;
    top: 80px;
    left: 52px;
}





