.logo {
    width: 28vh;


}


.si{
    margin-top: 35px;
}

.hr{
    opacity: 0.1;
}

.bdy{
    /* border: 2px solid #e50914; */
   width: 500px;
   height: 510px;
}

.footer{
    margin-top: 200px;
    width: 100%;
    height: 280px;
    background-color:#f3f3f3;

}
.ff{
    font-size: 20px;
}
a{
    cursor: pointer;
}
.greytx{
    color: #6b6d6d;
}




